Repository hemilabs/HemiConnector: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, better-sort-package-json

.lintstagedrc.json:

{
  "*.{js,md,ts,tsx}": [
    "eslint --cache --fix --max-warnings 0"
  ],
  "package.json": ["better-sort-package-json"]
}

Removed network from Hemi texts
  README.md
  package.json
Due: eslint --cache --fix --max-warnings 0, better-sort-package-json

Added eslint-config-bloq and fix all linting error
  .eslintcache
  .eslintrc.js
  package-lock.json
  package.json
  src/application/GivePointsToContractCreation/GivePointsToContractCreationUsecase.ts
  src/application/abi/HelloWorldAbi.ts
  src/domain/base/DomainError.spec.ts
  src/domain/base/Entity.spec.ts
  src/domain/base/Entity.ts
  src/domain/base/ValueObject.spec.ts
  src/domain/entities/Block.ts
  src/domain/entities/Score.ts
  src/domain/entities/Transaction.ts
  src/domain/entities/TransactionReceipt.ts
  src/domain/repositories/ChainRepository.ts
  src/domain/repositories/ScoreRepository.ts
  src/domain/valueObjects/BlockNumber.spec.ts
  src/domain/valueObjects/Hash.spec.ts
  src/infrastructure/repositories/AbsintheScoreRepository.ts
  src/infrastructure/repositories/ViemChainRepository.ts
  src/presentation/cli/CollectMetrics.ts
  src/presentation/cli/GivePoints.ts
Due: eslint --cache --fix --max-warnings 0, better-sort-package-json

Added .eslintcache to .gitignore
  .eslintcache
  .gitignore
Due: none

Updated .eslintrc to put prettier as last in extends array
  .eslintrc.js
Due: eslint --cache --fix --max-warnings 0

Added viem to validate hash and address
  src/domain/valueObjects/Address.ts
  src/domain/valueObjects/Hash.ts
Due: eslint --cache --fix --max-warnings 0

Removed unnecessary type validation on Hash
  src/domain/valueObjects/Hash.ts
Due: eslint --cache --fix --max-warnings 0
